body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(205,213,214);
    background: linear-gradient(0deg, rgba(205,213,214,1) 0%, rgba(96,94,90,1) 100%);
    color: black;
    padding: 40px;
    text-align: center;
}

main {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vw;
}

.foto {
    flex: 1;
    padding-right: 2vw;
    margin-bottom: 5vw;
}

.foto img {
    border-radius: 15px;
}
.lista {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.lista ul {
    list-style-type: none;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.lista li {
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
}

.lista li span {
    margin-right: 2vw;
    text-decoration: none;
}

footer {
    background: rgb(205,213,214);
    background: linear-gradient(0deg, rgba(205,213,214,1) 0%, rgba(96,94,90,1) 100%);
    color: black;
    text-align: center;
    padding: 40px 0;
}

.logo {
    width: 150px;
}
